<div class="container-body w3-animate-opacity">

  <div id="auction-main-row">
    <md-tab-group>
      <md-tab label="Sales">
        <sales-main></sales-main>
      </md-tab>
      <md-tab label="Manage">
        <md-tab-group>
          <md-tab label="Add auction">
            <manage-add></manage-add>
          </md-tab>
          <md-tab label="Update auction">
            <manage-update></manage-update>
          </md-tab>
        </md-tab-group>
      </md-tab>
    </md-tab-group>
  </div>
</div>
