<div class="container-body w3-animate-opacity">

  <div id="auction-main-row">
    <mat-tab-group>
      <mat-tab label="Sales">
        <sales-main></sales-main>
      </mat-tab>
      <mat-tab label="Manage">
        <mat-tab-group>
          <mat-tab label="Add auction">
            <manage-add></manage-add>
          </mat-tab>
          <mat-tab label="Update auction">
            <manage-update></manage-update>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
