<h1 mat-dialog-title>Update car</h1>
<div mat-dialog-content>
  <form class="example-form" #loginForm="ngForm">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input #colorInputField
                   type="text"
                   placeholder="Color"
                   name="color"
                   aria-label="Color"
                   matInput
                   [formControl]="colorControl"
                   [matAutocomplete]="autoColors"
                   [required]="true"
                   [(ngModel)]="car.color">
            <mat-autocomplete #autoColors="matAutocomplete">
              <mat-option *ngFor="let color of colors | async"
                         [value]="color">
                {{ color }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input #makesInputField
                   type="text"
                   placeholder="Brand"
                   name="brands"
                   aria-label="Brand"
                   matInput
                   [formControl]="makesControl"
                   [matAutocomplete]="autoMakes"
                   (blur)="modelsInputField.value = ''; models = []; makesOnBlur(makesInputField.value);"
                   [required]="true"
                   [(ngModel)]="car.brand">
            <mat-autocomplete #autoMakes="matAutocomplete">
              <mat-option *ngFor="let make of brands  | makesFilterPipe: makesInputField.value" [value]="make.n">
                {{ make.n }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input #modelsInputField
                   type="text"
                   placeholder="Model"
                   name="models"
                   aria-label="Model"
                   matInput
                   [formControl]="modelsControl"
                   [matAutocomplete]="autoModels"
                   [required]="true"
                   [(ngModel)]="car.model">

            <mat-autocomplete #modelOptions #autoModels="matAutocomplete">
              <mat-option *ngFor="let model of models" [value]="model">
                {{ model }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [required]="true" type="number" [(ngModel)]="car.miles" name="miles" placeholder="Miles"
                   #miles="ngModel"
                   value="{{car.miles}}">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [required]="true" type="number" [(ngModel)]="car.price" name="price" #price="ngModel"
                   placeholder="Start price (SEK)" value="{{car.price}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [required]="true" type="text" [(ngModel)]="car.registrationNumber"
                   name="registrationNumber" placeholder="Registration number" #registrationNumber="ngModel"
                   value="{{car.registrationNumber}}">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [required]="true" type="number" [(ngModel)]="car.year" name="year" value="{{car.year}}"
                   #year="ngModel"
                   placeholder="First registration (year)" minlength="4" maxlength="4">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [required]="true" type="number"
                   [(ngModel)]="car.sellerId" name="sellerId"
                   #sellerId="ngModel"
                   placeholder="Seller id" minlength="0"
                   value="{{car.sellerId}}">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field class="example-full-width">
      <textarea [required]="true" minlength="10" matInput [(ngModel)]="car.description"
                name="description" #description="ngModel"
                placeholder="Description">{{car.description}}</textarea>
      </mat-form-field>
    </p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change sold status details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>

        <mat-checkbox #sold="ngModel" name="sold" [(ngModel)]="car.sold"
                     (change)="soldFieldsRequired = sold.value">
          Is sold
        </mat-checkbox>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input [disabled]="soldFieldsRequired === false" matInput name="soldDate" #soldDate="ngModel"
                       [matDatepicker]="soldDate"
                       [(ngModel)]="car.soldDate"
                       [(value)]="car.soldDate"
                       placeholder="Sold date"
                       [required]="soldFieldsRequired">
                <mat-datepicker-toggle matSuffix [for]="soldDate"></mat-datepicker-toggle>
                <mat-datepicker #soldDate></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [disabled]="soldFieldsRequired === false" [required]="soldFieldsRequired" type="number"
                       [(ngModel)]="car.soldPrice" name="soldPrice" #soldPrice="ngModel"
                       placeholder="Sold price (SEK)" value="{{car.soldPrice}}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [disabled]="soldFieldsRequired === false" [required]="soldFieldsRequired" type="number"
                       [(ngModel)]="car.buyerId"
                       name="buyerId" placeholder="Buyer ID" #buyerId="ngModel"
                       value="{{car.buyerId}}">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card>
    </mat-expansion-panel>
    <hr>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" [mat-dialog-close]="car">
    Update
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</div>
