<div class="w3-card-2 w3-animate-opacity"
     id="mySidebar">
     <!--style="min-width: 210px">-->

  <div class="w3-button w3-block w3-blue w3-bar-item w3-left-align auction-filter-toggle-panel-btn"
       id="auction-filter-toggle-panel-btn">
    <i class="glyphicon glyphicon-filter w3-right-align auction-filter-toggle-panel-glyphicon"></i> Filter
  </div>
  <div class="auction-filter-panel-body collapse in" id="auction-filter-panel-body">

    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Colors
        </md-panel-title>
      </md-expansion-panel-header>
      <md-selection-list #col
                         style="max-height: 350px; overflow-y: scroll;">
        <md-list-option *ngFor="let color of colors | async"
                        (click)="setColors(color.color)">
          {{color.color}}
        </md-list-option>
      </md-selection-list>
    </md-expansion-panel>

    <md-expansion-panel style="padding: 0">
      <md-expansion-panel-header>
        <md-panel-title>
          Makers
        </md-panel-title>
      </md-expansion-panel-header>

      <md-selection-list>
        <md-list-option [disabled]="brandsChecked.selectedOptions.selected.length <= 0"
                        [selected]="brandsChecked.selectedOptions.selected.length <= 0"
                        (click)="brandsChecked.deselectAll();setBrand('any')"
                        style="padding-right: 17px">
          Any
        </md-list-option>
      </md-selection-list>

      <md-selection-list #brandsChecked
                         style="max-height: 350px; overflow-y: scroll; padding: 0">
        <md-list-option *ngFor="let brand of makers | async | orderBy"
                        (click)="setBrand(brand.name.toLowerCase())">
          {{brand.name}}
        </md-list-option>

      </md-selection-list>

    </md-expansion-panel>

    <md-expansion-panel>
      <md-expansion-panel-header>
        Price
      </md-expansion-panel-header>
      <md-selection-list>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   placeholder="Minimum"
                   (change)="setPriceRange()"
                   step="100"
                   [(ngModel)]="minPrice"
                   value="{{minPrice}}">
            <span mdSuffix> &nbsp; SEK</span>
          </md-form-field>
        </md-list-item>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   placeholder="Maximum"
                   (change)="setPriceRange()"
                   step="100"
                   [(ngModel)]="maxPrice"
                   value="{{maxPrice}}">
            <span mdSuffix> &nbsp; SEK</span>
          </md-form-field>
        </md-list-item>
      </md-selection-list>
    </md-expansion-panel>

    <md-expansion-panel>
      <md-expansion-panel-header>
        Registration
      </md-expansion-panel-header>
      <md-selection-list>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   min="1800"
                   placeholder="From"
                   (change)="setYearRange()"
                   step="1"
                   [(ngModel)]="minYear"
                   value="{{minYear}}">
          </md-form-field>
        </md-list-item>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   min="1800"
                   placeholder="To"
                   (change)="setYearRange()"
                   step="1"
                   [(ngModel)]="maxYear"
                   value="{{maxYear}}">
          </md-form-field>
        </md-list-item>
      </md-selection-list>
    </md-expansion-panel>

    <md-expansion-panel>
      <md-expansion-panel-header>
        Mileage
      </md-expansion-panel-header>
      <md-selection-list>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   min="0"
                   placeholder="From"
                   (change)="setMileRange()"
                   step="100"
                   [(ngModel)]="minMiles"
                   value="{{minMiles}}">
            <span mdSuffix> &nbsp; miles</span>
          </md-form-field>
        </md-list-item>
        <md-list-item>
          <md-form-field class="example-full-width">
            <input mdInput
                   type="number"
                   min="0"
                   placeholder="To"
                   (change)="setMileRange()"
                   step="100"
                   [(ngModel)]="maxMiles"
                   value="{{maxMiles}}">
            <span mdSuffix> &nbsp; miles</span>
          </md-form-field>
        </md-list-item>
      </md-selection-list>
    </md-expansion-panel>
  </div>
</div>
