<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter users">
    </md-form-field>
  </div>

  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.id}}</md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="registrationNumber">
      <md-header-cell *mdHeaderCellDef> Registration number</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.registrationNumber}}</md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="sellerId">
      <md-header-cell *mdHeaderCellDef> Seller ID</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.sellerId}}</md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="soldPrice">
      <md-header-cell *mdHeaderCellDef> Sold price</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.soldPrice}}</md-cell>
    </ng-container>


    <!-- Color Column -->
    <ng-container mdColumnDef="soldDate">
      <md-header-cell *mdHeaderCellDef> Sold</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.soldDate}}</md-cell>
    </ng-container>


    <!-- Color Column -->
    <ng-container mdColumnDef="buyerId">
      <md-header-cell *mdHeaderCellDef> Buyer ID</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.buyerId}}</md-cell>
    </ng-container>


    <!-- Color Column -->
    <ng-container mdColumnDef="createdDate">
      <md-header-cell *mdHeaderCellDef> Created</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.createdDate}}</md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="price">
      <md-header-cell *mdHeaderCellDef> Start price</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.price}}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>

<!-- id', 'registrationNumber', 'price', 'sellerId', 'soldPrice', 'soldDate', 'buyerId', 'createdDate'-->
