<div class="row equal">
  <div class="col-sm-6 col-mat-4"
       *ngFor="let car of carsAsync | async | auctionFilter: _filter"
       style="margin-bottom: 15px;">

    <mat-card class="example-card" id="auction_{{car.id}}">

      <mat-card-header [routerLink]="['details', car.id]"
                      style="cursor: pointer; display: block;">
        <mat-card-title>
          <div style="white-space: nowrap; max-width: 120em; overflow: hidden; text-overflow: ellipsis;">
            {{car.description}}
          </div>
        </mat-card-title>
      </mat-card-header>

      <img [routerLink]="['details', car.id]"
           mat-card-image
           *ngFor="let img of images | findImage:car.id"
           src="{{img.url}}" alt="car"
           style="cursor: pointer;">

      <mat-card style="padding: 0;margin-left: -16px; margin-right: -16px;">
        <table class="table" style="font-size: small">
          <tr>
            <th>Year</th>
            <td>{{car.year}}</td>
          </tr>
          <tr>
            <th>Maker</th>
            <td>{{car.brand}}</td>
          </tr>
          <tr>
            <th>Model</th>
            <td>{{car.model}}</td>
          </tr>
          <tr>
            <th>Price</th>
            <td>{{car.price}} &nbsp; SEK</td>
          </tr>
        </table>
      </mat-card>

      <mat-card-actions>
        <button [routerLink]="['details', car.id]"
                mat-raised-button
                color="primary"
                style="width: 100% ">Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
