<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

  <form class="example-form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" *ngIf="isLoginView">
    <button mat-raised-button style="float: right"
            (click)="isLoginView = false">Register
    </button>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Username"
                   [(ngModel)]="loginModel.username"
                   [required]="true"
                   #username="ngModel"
                   name="userName">
            <div *ngIf="loginForm.submitted && !username.valid" style="color: red">Username is required</div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Password"
                   [(ngModel)]="loginModel.password"
                   [required]="true"
                   #password="ngModel"
                   type="password"
                   name="password">
            <div *ngIf="loginForm.submitted && !password.valid" style="color: red">Password is required</div>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <label *ngIf="isError" style="color: red">Request failed. Please try again with different credentials</label>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="!loginForm.form.valid &&  !password.value || !username.value">Log in
    </button>
    <button mat-raised-button
            color="warn"
            (click)="loginForm.noValidate = true; onNoClick()">Cancel
    </button>
  </form>

  <form class="example-form" (ngSubmit)="registerForm.form.valid && register()" #registerForm="ngForm"
        *ngIf="!isLoginView">

    <button mat-raised-button style="float: right"
            (click)="isLoginView = true">Login
    </button>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-select placeholder="User type" #roleId name="reg_roleId" style="width: 100%">
            <mat-option [value]="2" (click)="registerModel.roleId = 2">
              Seller
            </mat-option>
            <mat-option [value]="3" (click)="registerModel.roleId=3">
              Buyer
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="First name"
                   [(ngModel)]="registerModel.firstName"
                   [required]="true"
                   #reg_firstName="ngModel"
                   name="reg_firstName">
            <div *ngIf="registerForm.submitted && !reg_firstName.valid" style="color: red">First name is required
            </div>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="First name"
                   [(ngModel)]="registerModel.lastName"
                   [required]="true"
                   #reg_lastName="ngModel"
                   name="reg_lastName">
            <div *ngIf="registerForm.submitted && !reg_lastName.valid" style="color: red">Last name is required
            </div>
          </mat-form-field>
        </td>
      </tr>

      <!-- -------- -->

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Username"
                   [(ngModel)]="registerModel.userName"
                   [required]="true"
                   #reg_username="ngModel"
                   name="reg_userName">
            <div *ngIf="registerForm.submitted && !reg_username.valid" style="color: red">Username is required</div>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Email"
                   type="email"
                   [(ngModel)]="registerModel.email"
                   [required]="true"
                   #reg_email="ngModel"
                   name="reg_email">
            <div *ngIf="registerForm.submitted && !reg_username.valid" style="color: red">Email is required</div>
          </mat-form-field>
        </td>
      </tr>

      <!-- -------- -->

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Password"
                   [(ngModel)]="registerModel.password"
                   [required]="true"
                   type="password"
                   #reg_password="ngModel"
                   name="reg_password">
            <div *ngIf="registerForm.submitted && !reg_password.valid" style="color: red">Password is required</div>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field class="example-full-width">

            <input matInput
                   placeholder="Password"
                   [(ngModel)]="registerModel.confirmPassword"
                   [required]="true"
                   type="password"
                   #reg_confirmPassword="ngModel"
                   name="reg_confirmPassword">

            <div
              *ngIf="(!reg_password.valid) && registerForm.submitted && registerModel.password === registerModel.confirmPassword"
              style="color: red">Passwords do not match
            </div>
          </mat-form-field>
        </td>
      </tr>

    </table>

    <label *ngIf="isError" style="color: red">Request failed. Please try again later.</label>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="(!registerForm.form.valid )&&  registerModel.password === registerModel.confirmPassword">
      Register
    </button>
    <button mat-raised-button
            color="warn"
            (click)="registerForm.noValidate = true; onNoClick(); ">Cancel
    </button>


  </form>

</div>
