<div class="row equal">
  <div class="col-sm-6 col-md-4" *ngFor="let car of carsAsync | async | auctionFilter: _filter"
       style="margin-bottom: 15px;">

    <md-card class="example-card" id="auction_{{car.id}}">

      <md-card-header [routerLink]="['details', car.id]" style="cursor: pointer; display: block;">
        <md-card-title>
          <div style="white-space: nowrap; max-width: 120em; overflow: hidden; text-overflow: ellipsis;">
            {{car.description}}
          </div>
        </md-card-title>
      </md-card-header>

      <img [routerLink]="['details', car.id]" md-card-image *ngFor="let img of images | findImage:car.id"
           src="{{img.url}}" alt="car"
           style="cursor: pointer;">

      <md-card style="padding: 0;">
        <table class="table-responsive table-condensed table-bordered" style="width: 100%; margin:0;">

          <tr style="font-size: small">
            <th class="w3-center"> Year</th>
            <th class="w3-center"> Maker</th>
            <th class="w3-center"> Price</th>
          </tr>
          <tr style="font-size: small">
            <td style="width: 33%">
              <div class="w3-center">
                {{car.year}}
              </div>
            </td>
            <td style="width: 33%">
              <div class="w3-center">
                {{car.brand}}
              </div>
            </td>
            <td style="width: 33%">
              <div class="w3-center">
                {{car.price}}:-
              </div>
            </td>
          </tr>
        </table>
      </md-card>

      <md-card-actions style="margin-top:5px; margin-bottom: -10px;">
        <button [routerLink]="['details', car.id]" md-raised-button color="primary" style="width: 100% ">Details
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
