<div id="detailsContainer">
  <button mat-raised-button color="warn" (click)="closeThis()">Close</button>
  <hr>
  <mat-tab-group>
    <mat-tab label="Car">
      <h1>{{car.brand + " " + car.model + " " + car.year}}</h1>
      <mat-card>
        <div class="row" style="">
          <div class="col-sm-6">
            <mat-card style="height: 100%;">
              <div id="myCarousel" class="carousel slide w3-card-4" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div *ngFor="let image of _images | async" class="item {{image.active}}">
                    <img src="{{image.url}}" alt="">
                  </div>
                </div>
                <a class="left carousel-control" (click)="changeImage('prev');">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" (click)="changeImage('next');">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </mat-card>
          </div>
          <div class="col-sm-6" style="display: flex; align-items: stretch;">
            <mat-card style="height: 100%; width: 100%">
              <form class="example-form">
                <table class="example-full-width">
                  <tr>
                    <td>
                      <mat-card>
                        <div class="example-full-width">
                          Current price: <b>{{minimumBidPrice}}</b>
                        </div>
                      </mat-card>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-card>
                        <mat-form-field class="example-full-width">
                          <input matInput
                                 [disabled]="!isUserLoggedIn"
                                 [required]="true"
                                 type="number"
                                 [(ngModel)]="bidPrice"
                                 name="bidPriceInput"
                                 placeholder="Create bid"
                                 min="{{minimumBidPrice}}"
                                 #bidPriceInput="ngModel"
                                 value="{{bidPrice}}">
                        </mat-form-field>
                      </mat-card>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-card>
                        <div class="example-full-width">
                          <button *ngIf="isUserLoggedIn === true"
                                  [disabled]="bidPrice <= minimumBidPrice"
                                  mat-raised-button
                                  color="primary"
                                  (click)="createBid()"
                                  style="width: 100%">
                            Place bid
                          </button>
                          <button *ngIf="isUserLoggedIn === false"
                                  mat-raised-button
                                  color="primary"
                                  (click)="openLoginDialog()"
                                  style="width: 100%">
                            Login or register to bid
                          </button>
                        </div>
                      </mat-card>
                    </td>
                  </tr>
                </table>
              </form>
            </mat-card>
          </div>
        </div>
        <hr>
        <mat-tab-group (selectChange)="setGridScroll()">
          <mat-tab label="Description">
            <mat-card>
              {{car.description}}
            </mat-card>
            <mat-card>
              <mat-card-content>
                <div class="row">
                  <div class="col-mat-4">
                    <mat-card>
                      <table class="example-full-width details-grid" cellpadding="0">
                        <tr>
                          <td>Registration number:</td>
                          <td>{{car.registrationNumber}}</td>
                        </tr>
                        <tr>
                          <td>Miles:</td>
                          <td>{{car.miles}}</td>
                        </tr>
                        <tr>
                          <td>First registration:</td>
                          <td>{{car.year}}</td>
                        </tr>
                      </table>
                    </mat-card>
                  </div>
                  <div class="col-mat-4">
                    <mat-card>
                      <table class="example-full-width details-grid" cellpadding="0">
                        <tr>
                          <td>Color:</td>
                          <td>{{car.color}}</td>
                        </tr>
                        <tr>
                          <td>Brand:</td>
                          <td>{{car.brand}}</td>
                        </tr>
                        <tr>
                          <td>Model:</td>
                          <td>{{car.model}}</td>
                        </tr>
                      </table>
                    </mat-card>
                  </div>
                  <div class="col-mat-4">
                    <mat-card>
                      <table class="example-full-width details-grid" cellpadding="0">
                        <tr>
                          <td>Seller id:</td>
                          <td>{{car.sellerId}}</td>
                        </tr>
                        <tr>
                          <td>Publish date:</td>
                          <td>{{formatDate(car.createdDate)}}</td>
                        </tr>
                        <tr>
                          <td>Last updated:</td>
                          <td>{{formatDate(car.updatedDate)}}</td>
                        </tr>
                      </table>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Bid history">
            <mat-card>
              <mat-card-header>
                <label mat-card-title>
                  Bidding history
                </label>
              </mat-card-header>
              <mat-card-content>
                <ej-grid [dataSource]='bidHistory'
                         [allowPaging]="true"
                         [allowSorting]='true'
                         height="315px">
                  <e-columns>
                    <e-column field='id' headerText='Id' textAlign='right' width=90></e-column>
                    <e-column field='bidPrice' headerText='Bid price' width=120></e-column>
                    <e-column field='bidderId' headerText='Bidder Id' textAlign='right' width=90></e-column>
                    <e-column field='createdDate' headerText='Date' textAlign='right' width=120></e-column>
                  </e-columns>
                </ej-grid>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-tab>
    <mat-tab label="Images">
      <h1>Images</h1>

      <mat-card *ngFor="let img of _images | async">
        <img class="img-responsive" src="{{img.url}}"/>
      </mat-card>

    </mat-tab>
  </mat-tab-group>
</div>
