<div class="container-body">
  <div id="auction-main-row">
    <auction-filter-header></auction-filter-header>
    <div class="row">
      <div class="col-xs-12 col-sm-3" style="margin-bottom: 20px;">
        <mat-card style="padding:0">
          <sidebar-filter></sidebar-filter>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-9">
        <mat-card>
          <auction-list></auction-list>
        </mat-card>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
