<div id="detailsContainer">
  <button md-raised-button color="warn" (click)="closeThis()">Close</button>
  <hr>
  <md-tab-group>
    <md-tab label="One">
      <h1>{{auction.title}}</h1>
      <md-card>

        <div class="row">
          <div class="col-sm-6">
            <div id="myCarousel" class="carousel slide w3-card-4" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div *ngFor="let image of _images | async" class="item {{image.active}}">
                  <img src="{{image.url}}" alt="">
                </div>
              </div>
              <a class="left carousel-control" (click)="changeImage('prev');">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" (click)="changeImage('next');">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <md-card>
              <div class="w3-bar-block w3-gray">
                <div class="w3-bar-item">
                  <h3 style="white-space: nowrap; max-width: 120em; overflow: hidden; text-overflow: ellipsis;">
                    {{auction.description }}
                  </h3>
                </div>
              </div>
              <div class="w3-bar-block">
                <div class="w3-bar-item">
                  <h4>Current bid: <b>{{auction.buyItNowPrice}}</b></h4>
                </div>
              </div>
            </md-card>
          </div>

          <div class="col-sm-12">
            <md-card>
              {{auction.description}}
            </md-card>
          </div>


        </div>

      </md-card>
    </md-tab>

    <md-tab label="Images" (click)="loadImageCollection()">
      <h1>Images</h1>

        <md-card *ngFor="let img of _images | async">
          <img class="img-responsive" src="{{img.url}}"/>
        </md-card>

    </md-tab>
  </md-tab-group>


</div>
