<form class="example-form" (ngSubmit)="addCar()" #addCarForm="ngForm">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input #colorInputField
                 type="text"
                 placeholder="Color"
                 name="color"
                 aria-label="Color"
                 mdInput
                 [formControl]="colorControl"
                 [mdAutocomplete]="autoColors"
                 [required]="true"
                 [(ngModel)]="car.color">
          <md-autocomplete #autoColors="mdAutocomplete">
            <md-option *ngFor="let color of colors | async | autocompleteFilterPipe: colorInputField.value"
                       [value]="color">
              {{ color }}
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </td>

      <td>
        <md-form-field class="example-full-width">
          <input #makesInputField
                 type="text"
                 placeholder="Brand"
                 name="brands"
                 aria-label="Brand"
                 mdInput
                 [formControl]="makesControl"
                 [mdAutocomplete]="autoMakes"
                 (blur)="modelsInputField.value = ''; models = []; makesOnBlur(makesInputField.value);"
                 [required]="true"
                 [(ngModel)]="car.brand">
          <md-autocomplete #autoMakes="mdAutocomplete">
            <md-option *ngFor="let make of brands  | makesFilterPipe: makesInputField.value" [value]="make.n">
              {{ make.n }}
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </td>

      <td>
        <md-form-field class="example-full-width">
          <input #modelsInputField
                 type="text"
                 placeholder="Model"
                 name="models"
                 aria-label="Model"
                 mdInput
                 [formControl]="modelsControl"
                 [mdAutocomplete]="autoModels"
                 [required]="true"
                 [(ngModel)]="car.model">

          <md-autocomplete #modelOptions #autoModels="mdAutocomplete">
            <md-option *ngFor="let model of models" [value]="model">
              {{ model }}
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput [required]="true" type="text" [(ngModel)]="car.registrationNumber" name="registrationNumber" placeholder="Registration number" #registrationNumber="ngModel"
                 value="{{car.registrationNumber}}">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput [required]="true" type="number" [(ngModel)]="car.year" name="year" value="{{car.year}}" #year="ngModel"
                 placeholder="First registration (year)" minlength="4" maxlength="4" >
        </md-form-field>
      </td>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput [required]="true" type="number" [(ngModel)]="car.miles" name="miles" placeholder="Miles" #miles="ngModel"
                 value="{{car.miles}}">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput [required]="true" type="number" [(ngModel)]="car.price" name="price" #price="ngModel"
                 placeholder="Start price (SEK)" value="{{car.price}}">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="example-full-width">
      <textarea [required]="true" minlength="10" mdInput [(ngModel)]="car.description"
                name="description" #description="ngModel"
                placeholder="Description">{{car.description}}Enter description here</textarea>
    </md-form-field>
  </p>
  <button type="submit" md-raised-button [disabled]="!addCarForm.form.valid">Submit</button>
 </form>
