<div class="row" style="padding-left: 0; padding-right: 0;">
  <div class="col-mat-6 col-mat-offset-3">
    <form class="example-form" (ngSubmit)="addCarForm.form.valid && tryAddCarOnSubmit(addCarForm)" #addCarForm="ngForm">
      <mat-card>
        <table class="example-full-width" cellspacing="1">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input #colorInputField
                       type="text"
                       placeholder="Color"
                       name="color"
                       aria-label="Color"
                       matInput
                       [formControl]="colorControl"
                       [matAutocomplete]="autoColors"
                       [required]="true"
                       [(ngModel)]="car.color">
                <mat-autocomplete #autoColors="matAutocomplete">
                  <mat-option *ngFor="let color of colors | async | autocompleteFilterPipe: colorInputField.value"
                             [value]="color">
                    {{ color }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input #makesInputField
                       type="text"
                       placeholder="Brand"
                       name="brands"
                       aria-label="Brand"
                       matInput
                       [formControl]="makesControl"
                       [matAutocomplete]="autoMakes"
                       (blur)="modelsInputField.value = ''; models = []; makesOnBlur(makesInputField.value);"
                       [required]="true"
                       [(ngModel)]="car.brand">
                <mat-autocomplete #autoMakes="matAutocomplete">
                  <mat-option *ngFor="let make of brands | makesFilterPipe: makesInputField.value"
                             [value]="make.n">
                    {{ make.n }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input #modelsInputField
                       type="text"
                       placeholder="Model"
                       name="models"
                       aria-label="Model"
                       matInput
                       [formControl]="modelsControl"
                       [matAutocomplete]="autoModels"
                       [required]="true"
                       [(ngModel)]="car.model">
                <mat-autocomplete #modelOptions
                                 #autoModels="matAutocomplete">
                  <mat-option *ngFor="let model of models"
                             [value]="model">
                    {{ model }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="1">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [required]="true" type="text" [(ngModel)]="car.registrationNumber"
                       name="registrationNumber"
                       placeholder="Registration number" #registrationNumber="ngModel"
                       value="{{car.registrationNumber}}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [required]="true" type="number" [(ngModel)]="car.year" name="year" value="{{car.year}}"
                       #year="ngModel"
                       placeholder="First registration (year)" minlength="4" maxlength="4">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="1">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [required]="true" type="number" [(ngModel)]="car.miles" name="miles" placeholder="Miles"
                       #miles="ngModel"
                       value="{{car.miles}}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [required]="true" type="number" [(ngModel)]="car.price" name="price" #price="ngModel"
                       placeholder="Start price (SEK)" value="{{car.price}}">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <p>
          <mat-form-field class="example-full-width">
      <textarea [required]="true"
                minlength="5"
                matInput
                [(ngModel)]="car.description"
                name="description"
                #description="ngModel"
                placeholder="Description">{{car.description}}</textarea>
          </mat-form-field>
        </p>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary" [disabled]="!addCarForm.form.valid">Submit</button>
          <button mat-button type="reset" style="float: right;">Clear fields</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
