<div class="row">

  <div class="col-xs-12" style="padding-top: 10px">
    <mat-form-field style="padding-right: 15px">
      <input matInput #min
             [matDatepicker]="fromDate"
             [(ngModel)]="minDate"
             [(value)]="minDate"
             min="{{staticMinDate.toISOString()}}"
             max="{{maxDate.toISOString()}}"
             placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>

    <span class="example-spacer"></span>

    <mat-form-field style="padding-right: 15px">
      <input matInput #max
             [matDatepicker]="toDate"
             [(ngModel)]="maxDate"
             [(value)]="maxDate"
             min="{{minDate.toISOString()}}"
             max="{{staticMaxDate.toISOString()}}"
             placeholder="To">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>

    <span class="example-spacer"></span>

    <button mat-raised-button (click)="applyFilter()">
      Apply filter
      <i class="glyphicon glyphicon-filter"></i>
    </button>
  </div>
</div>
